.hamburger {
  position: relative;
}

.hamburgerContent {
  position: absolute;
  border-radius: 0.3rem;
  background: #fff;
  top: 105%;
  right: 0;
  padding: 0.5rem;
  transform-origin: right top;
  transform: scale(0);
  transition: transform 0.3s;
  border: 1px solid #ddd;
}

.hamburger.open .hamburgerContent {
  transform: scale(1.2) translateY(10px) translateX(-10px);
  width: 180px;
  height: 145px;
}

.hamburger.open img {
  /* background-image: url("../../../Assets/Images/cancelToggle.png") no-repeat
    center; */
  content: url("../../../Assets/Images/cancelToggle.png");
  width: 26px;
  height: 26px;
}

.hamburgerContent > * {
  background: #fff;
}
